*.class
*.log
.history
target

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#do not check out generated source
generated/

# Scala-IDE specific
.scala_dependencies

# Worksheets
.worksheet
*.sc

# Temp Files
*.*~


# eclipse conf file
.settings
.classpath
.project
.manager
*.cache

/.idea/
.idea/
.idea_modules/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
/bin/

#project
js/*
.sass-cache

.hydra/
/project/hydra.sbt
/resources/*.conf
/resources/db.test.conf
/resources/js
!/resources/application.template.conf
!/server/src/test/resources/application.conf


/resources/application.conf
/resources/db.conf

resources/application.conf
resources/db.conf
